.not-found{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.not-found h2{
    font-size: 6rem;
    font-weight: 700;
    color: #ddd;
    text-align: center;
}
.not-found h2 span{
    color: #dfb839;
}
.not-found h4{
    font-size: 3rem;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-bottom:3rem;
}
.not-found button {
    display: block;
    margin: auto;
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    color: #fff;
    font-weight: 500;
    background: #FF6000;
}