.trace-order{
    width: 100%;
}
.reset-password-form{
    width:50%;
    margin:6% auto 0;
    padding: 2rem 1.5rem;
}
.reset-password-form h4{
    font-size: 3rem;
    font-weight: 400;
    color: #817f7f;
    text-transform: capitalize;
}
.reset-password-form p{
    font-size: 1.4rem;
    font-weight: 400;
    color: #a8a8a8;
    margin-bottom: 2rem;
    text-transform: capitalize;
}
.reset-password-form input{
    width:100%;
    font-size: 1.8rem;
    font-weight: 400;
    color: #bbbbbb;
    outline: none;
    padding:1rem 1.5rem;
    margin-top: 2.5rem;
    border: .1rem solid #eee;
    transition: .5s ease-in;
}
.reset-password-form input:focus{
    border: .1rem solid #550597;
}
.reset-password-form ::placeholder{
    font-size: 1.8rem;
    font-weight: 400;
    color: #bbbbbb;
}
.reset-password-form .reset-password-btn{
    display: block;
    margin-left: auto;
    font-size: 1.6rem;
    font-weight: 500;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    border-radius: .3rem;
    padding: 1rem 2rem;
    background: #FF6000;
}

/*
------------------------------------------------------------
--------- Responsive CSS For Contact Page -------------
------------------------------------------------------------
*/
/*medium device*/
@media all and (max-width:768px){
    .reset-password-form{
        width:100%;
    }   
}
/*small device*/
@media all and (max-width:576px){
    .reset-password-form h4 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
}