.set-new-password{
    width: 100%;
}
.set-news-passowrd-form{
    width:50%;
    margin:6% auto 0;
    padding: 2rem 1.5rem;
}
.set-news-passowrd-form h4{
    font-size: 3rem;
    font-weight: 400;
    color: #550597;
    text-align: center;
    text-transform: capitalize;
}
.set-news-passowrd-form p{
    font-size: 1.5rem;
    font-weight: 400;
    color: #444444;text-align: center;
    padding-bottom: 5rem;
}
.set-news-passowrd-form input{
    width:100%;
    font-size: 1.8rem;
    font-weight: 400;
    color: #444444;
    outline: none;
    padding:1rem 1.5rem;
    margin-top: 3rem;
    border: .1rem solid #eee;
    transition: .5s ease-in;
}
.set-news-passowrd-form input:focus{
    border: .1rem solid #550597;
}
.set-news-passowrd-form::placeholder{
    font-size: 1.8rem;
    font-weight: 400;
    color: #bbbbbb;
}
.set-news-passowrd-form .set-password-btn{
    display: block;
    margin-left: auto;
    font-size: 1.6rem;
    font-weight: 500;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    border-radius: .3rem;
    padding: 1rem 2rem;
    background: #FF6000;
}

/*
------------------------------------------------------------
--------- Responsive CSS For Contact Page -------------
------------------------------------------------------------
*/
/*medium device*/
@media all and (max-width:768px){
    .set-news-passowrd-form{
        width:100%;
    }   
}
/*small device*/
@media all and (max-width:576px){
    .set-news-passowrd-form h4 {
        font-size: 2.5rem;
    }
    .set-news-passowrd-form p {
        padding-bottom: 3rem;
    }
}