.user-profile{
    width:100%;
    height: 100vh;
    padding: 5rem 0;
}
.user-profile .row{
    flex-wrap: wrap;
    align-items: flex-start;
}
.user-profile .user-info{
    width:25%;
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
    background: #f8f8f8;
}
.profile-photo{
    width: 5rem;
    margin: auto;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
}
.profile-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-info .user-name{
    font-size: 2rem;
    font-weight: 500;
    color: #817f7f;
    padding: .5rem 0;
    text-transform: capitalize;
}
.user-info p{
    font-size: 1.4rem;
    font-weight: 400;
    color: #000000;
    padding: .5rem 0;
    text-align: left;
}
.user-info p span{
    color: #2b2b2b;
    font-weight: 500;
}
.logout-btn {
    border: none;
    outline: none;
    padding: 10px 15px;
    background: #FF6000;
    width: 100%;
    margin: 17px 0 3px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
.user-profile .orders-info{
    width:74%;
    margin-left: 1%;
    padding: 0 1rem 1rem;
}
.my-orders-table {
    width:100%;
    margin-left: 1%;
    overflow-x: auto;
}
.my-orders-table table{
    min-width: 90rem;
}
.my-orders-table table tr{
    font-size: 1.6rem;
    font-weight: 400;
    color: #817f7f;
    padding-bottom: .5rem;
    border-bottom: .1rem solid #f8f8f8;
    text-transform: capitalize;
    overflow-x:scroll!important;

}
.my-orders-table table td{
    border-bottom: .1rem solid #f8f8f8;
}
.my-orders-table table img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    padding: 10px;
}
.user-profile::-webkit-scrollbar{
    height: 2px;
    width: 2px;
    background: gray;
}

/* Track */
.user-profile::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 

.user-profile::-webkit-scrollbar-thumb:horizontal{
    background: #dfb839;
    border-radius: 5px;
}
/*
------------------------------------------------------------
--------- Responsive CSS For Contact Page -------------
------------------------------------------------------------
*/
/*medium device*/
@media all and (max-width:768px){
    .user-profile .user-info{
        width: 100%;
        margin-bottom: 2rem;
    }
    .user-profile .orders-info{
        width:100%;
    }
    .user-info p {
        text-align: center;
    }
}
/*small device*/
@media all and (max-width:576px){
    .single-order {
        flex-direction: column;
    }
}
/*extra small device*/
@media all and (max-width:400px){
    .single-order p {
        font-size: 1.4rem;
        padding-bottom: .5rem;
    }
}